/* --------------------------------------------- */
/* --------------------------------------------- */
/* ---- Code by Jesse Showalter --- */
/* --- http://www.jesseshowalterdesign.com --- */
/* --------------------------------------------- */
/* --------------------------------------------- */

/* Fonts to be used
font-family: 'deming_epregular';
font-family: ''
*/

/* Color Pallet
9B140A - red 
000000 - Black
3D2925 - Brown

*/

/* Utility Styles ------------------------------------------------------------ */

::selection { background: #9B140A; color: white; } /* Safari */
::-moz-selection { background: #9B140A; color: white; } /* Firefox */

.group:after {
visibility: hidden;
display: block;
content: ".";
clear: both;
height: 0;
}
* html .group { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */



/* Fonts Styles ------------------------------------------------------------ */

h1, h2{
	font-family: 'deming_epregular';
	color:#9B140A;
	font-weight: 200;
	text-shadow:0 0 1px #FFF;
}



/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body { background:url(../images/main_bg.jpg) repeat; color:#444; font-family: 'Special Elite', cursive; letter-spacing: 1px; }

	.plaid{
		background:url(../images/musicians_bg.jpg) no-repeat center #000; position: relative;}

	#topTag{ background: #000; height:auto; padding:0px 16px; -moz-border-bottom-right-radius:8px; -moz-border-bottom-left-radius:8px; -webkit-border-bottom-right-radius:8px; -webkit-border-bottom-left-radius:8px; border-bottom-right-radius:8px; border-bottom-left-radius:8px;   }
	#topTag a:link, #topTag a:visited{ color:#FFF; float:right; display:inline;text-decoration: none; padding-left:25px; margin:10px 0 10px 20px;}
	#topTag a:hover { color:#9B140A;}
	#topTag a:active { color:#FFF;}
	#topTag .phone { background:url(../images/icon_bell.jpg) no-repeat left;}
	#topTag .email { background:url(../images/icon_envelope.jpg) no-repeat left;}
	#topTag .facebook { background:url(../images/icon_facebook.jpg) no-repeat left;}
	#topTag .twitter { background:url(../images/icon_twitter.jpg) no-repeat left;}

	.logo{
		margin:0 auto;
		text-align: center;
	}

	.logo img{
		padding:20px 0;
	}
	
	.main_nav{
		background:#000;
		margin-bottom:40px;
	}

	#navigation {
	   float:left;
	   width:100%;
	   overflow:hidden;
   	   position:relative;
   	   font-family: 'deming_epregular';
   	   font-size: 18px;
   	   color:#FFF;

	}
	#navigation ul {
	   clear:left;
	   float:left;
	   list-style:none;
	   margin:0;
	   padding:0;
	   position:relative;
	   left:50%;
	   text-align:center;
	}
	#navigation ul li {
	   display:block;
	   float:left;
	   list-style:none;
	   margin:0;
	   padding:0;
	   position:relative;
	   right:50%;
	}
	#navigation ul li a {
	   display:block;
	   color:#FFF;
	   margin:0 0 0 1px;
	   padding:15px 15px 15px 30px;
	   text-decoration:none;
	   line-height:1.3em;
	   background:url(../images/navi.jpg) no-repeat;
	   background-position: 0 55px;
	   -moz-transition: all .4s ease-in-out;
	   -webkit-transition: all .4s ease-in-out;
	   transition: all .4s ease-in-out;
	}
	#navigation ul li a:hover {
	   color:#FFF;
	   background-position: 0 0;
	}
	#navigation ul li a.active,
	#navigation ul li a.active:hover {
	   color:#fff;
	   background:#000;
	   font-weight:bold;
	}

	#navigation ul li a:visited{
		color:#FFF;
	} 

	.slidingDiv { height:auto;background:url(../images/plaid2.jpg) repeat #000; padding:40px; margin-top:10px; border-bottom:5px solid #9B140A; display: none; }
	.slidingDiv img { border:5px solid #FFF; }
	.slidingDiv h2{ color:#FFF; margin-bottom:20px; }
	.slidingDiv { color:#FFF; line-height: 1.3em;}
	.slidingDiv a{ color:#9B140A; text-decoration: none; }




	.wrapper{}
	.wrapper.menu {
		background:url(../images/boxer.jpg), url(../images/boxer.jpg);
		background-repeat:no-repeat, no-repeat;
		background-position: center left, bottom right;
		text-shadow:-1px -1px 0 #FFF;
	}

	.wrapper.menu section{ margin-bottom:20px; padding-bottom:20px; }
	.wrapper.menu section h2 { margin-bottom:10px; padding:20px 0 10px 45px; }
	#menu_breakfast{ background:url(../images/menuicon_breakfast.jpg) no-repeat left; }
	#menu_pupus{ background:url(../images/menuicon_pupus.jpg) no-repeat left; }
	#menu_burgers{ background:url(../images/menuicon_burgers.jpg) no-repeat left; }
	#menu_salads{ background:url(../images/menuicon_salads.jpg) no-repeat left; }
	#menu_sandwiches{ background:url(../images/menuicon_sandwiches.jpg) no-repeat left; }
	#menu_sides{ background:url(../images/menuicon_sides.jpg) no-repeat left; }
	#menu_desserts{ background:url(../images/menuicon_desserts.jpg) no-repeat left; }
	#menu_drinks{ background:url(../images/menuicon_drinks.jpg) no-repeat left; }
	.menu_item {}
	.wrapper.menu section h3 { margin-top:15px; font-weight:100; color:#333; }
	.wrapper.menu section p{ display: block; margin-top:5px; line-height: 1.3em; }
	.wrapper.menu section span{ color:#9B140A; display: block; margin:10px 0 25px; }



	footer{ background:url(../images/plaid2.jpg) repeat #000; min-height: 400px; padding-top:60px; }
	footer h2{ color:#FFF; font-size: 36px; margin-bottom:20px; }
	footer h3{ color:#961309; font-weight: 100; margin-bottom:20px;}
	footer .footercol1{ float:left;}
	footer .footercol2{ float:left; margin-left:80px;}
	footer ul { margin-bottom:40px; }
	footer ul li { list-style: none; background:url(../images/icon_star.png) no-repeat left; padding-left:30px; color:#FFF; font-weight: 100; margin-bottom:10px;}


/* ============================= */
/* ! Layout for Tablet version   */
/* ============================= */
@media handheld, only screen and (max-width: 1000px) {

	body {
		
	}

	#navigation ul li a{
		font-size: 14px;
	}

	footer h2{ font-size: 24px; margin-bottom:20px; }


}





/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	#navigation ul li {width:100%;}
	footer{ text-align: center; }
	footer .footercol2 { margin-left:0px;}
	#topTag a:link, #topTag a:visited{ text-indent: -9999px;}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}