/* --------------------------------------------- */
/* --------------------------------------------- */
/* ---- Code by Jesse Showalter --- */
/* --- http://www.jesseshowalterdesign.com --- */
/* --------------------------------------------- */
/* --------------------------------------------- */

/* Fonts to be used
font-family: 'deming_epregular';
font-family: ''
*/

/* Color Pallet
9B140A - red
000000 - Black
3D2925 - Brown

*/
/* Utility Styles ------------------------------------------------------------ */

::selection { background: #9B140A; color: white; } /* Safari */
::-moz-selection { background: #9B140A; color: white; } /* Firefox */

.group:after {
visibility: hidden;
display: block;
content: ".";
clear: both;
height: 0;
}
* html .group { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */



/* Fonts Styles ------------------------------------------------------------ */

h1, h2{
	font-family: 'deming_epregular';
	color:#9B140A;
	font-weight: 200;
	text-shadow:0 0 1px #FFF;
}



/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		background:url(../images/main_bg.jpg) repeat;
	}

	.plaid{
		background:url(../images/plaid.jpg) repeat;
	}

	.logo{
		margin:0 auto;
		text-align: center;
	}

	.logo img{
		padding:20px 0;
	}
	
	.black{
		background:#000;
		margin-bottom:40px;
	}

	#navigation {
	   float:left;
	   width:100%;
	   overflow:hidden;
   	   position:relative;
   	   font-family: 'deming_epregular';
   	   font-size: 18px;
   	   color:#FFF;

	}
	#navigation ul {
	   clear:left;
	   float:left;
	   list-style:none;
	   margin:0;
	   padding:0;
	   position:relative;
	   left:50%;
	   text-align:center;
	}
	#navigation ul li {
	   display:block;
	   float:left;
	   list-style:none;
	   margin:0;
	   padding:0;
	   position:relative;
	   right:50%;
	}
	#navigation ul li a {
	   display:block;
	   margin:0 0 0 1px;
	   padding:30px 20px;
	   text-decoration:none;
	   line-height:1.3em;
	}
	#navigation ul li a:hover {
	   background:#272822;
	   color:#fff;
	   /*
	   -moz-box-shadow:    inset 0 0 10px #000000;
   	   -webkit-box-shadow: inset 0 0 10px #000000;
   	   box-shadow:         inset 0 0 10px #000000;
   	   */
	}
	#navigation ul li a.active,
	#navigation ul li a.active:hover {
	   color:#fff;
	   background:#000;
	   font-weight:bold;
	}

	#navigation ul li a:visited{
		color:#FFF;
	} 

	.container.menu {
		background:url(../images/boxer.jpg), url(../images/boxer.jpg);
		background-repeat:no-repeat, no-repeat;
		background-position: center left, bottom right;
	}



/* ============================= */
/* ! Layout for Tablet version   */
/* ============================= */
@media handheld, only screen and (max-width: 1000px) {

	body {
		
	}

	#navigation ul li a{
		font-size: 14px;
	}

}





/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}